/*
		Typographic specific settings here.
*/
$font-family_fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family_full: 'Roboto', $font-family_fallback;
$font-size_common: 16;
$font-weight_common: 400;
$font-weight_heavy: 500;

body {
  font-family: $font-family_full;
  // font-size: rem-calc($font-size_common);
  font-size: #{$font-size_common}px;
  line-height: 1.5;
  word-break: break-word;
}

// map headings - h1/.h1 etc...
@each $heading, $theSize in $mapHeadings {
  #{$heading},
  .#{$heading} {
    font-size: #{$theSize}px;
    margin-top: calc(var(--common-size) / 5);
    margin-bottom: calc(var(--common-size) / 3.5);
  }
}

p,
li {
  color: lighten($color: $black, $amount: 25);
}

p {
  .pigr-pod & {
    margin: 0;
  }
}
